* *::after,
*::before {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

:root {
    --fs_sm: 18px;
    --fs_md: 22px;
    --fs_lg: 48px;

    /* fone=t-w */
    --fw_400: 400px;
    --fs_600: 600px;
}